@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-100%)}
  to { opacity: 1; transform: translateY(0)}
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list_1,
.list_2 {
  display: none;
}

.menu {
  width: 600px;
  position: relative;
}

.menu > .list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #fff;
}

.menu.scroll > .list {
  flex-wrap: nowrap;
  overflow-y: scroll;
}

.item {
  white-space: nowrap;
  flex-grow: 1;
  position: static;
}

.item > .label {
  display: block;
  padding: 10px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid #fff;
}

.item:hover > .list{
  display: block;
}

.list_1 {
  display: none;
  position: absolute;
  animation: fadeIn 0.25s;
  margin-top: 16px;
  background: gold;
  padding: 16px;
  left: 0;
  z-index: 1;
}


