@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-100%)}
  to { opacity: 1; transform: translateY(0)}
}

@keyframes fadeLeft {
  from { opacity: 0; transform: translateX(-100%)}
  to { opacity: 1; transform: translateY(0)}
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.positionBox {
  display: none;
}

.positionBox_0 {
  position: fixed;
}

.menu {
  width: 600px;
  position: relative;
}

.menu > .list {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #fff;
}

.menu.scroll > .list {
  flex-wrap: nowrap;
  overflow-y: scroll;
}

.item {
  white-space: nowrap;
  flex-grow: 1;
  position: static;
}

.item > .label {
  display: block;
  padding: 10px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid #fff;
}

.item:hover > .positionBox,
.item:focus-within > .positionBox{
  display: block;
}

.list_1 {
  animation: fadeDown 0.25s;
  background: gold;
  z-index: 1;
}

.list_2 {
  position: absolute;
  animation: fadeLeft 0.25s;
  left: 100%;
  top: 0;
  background: goldenrod;
  z-index: 0;
}

